<nav
  class="navbar navbar-expand-sm sticky-top justify-content-center"
  style="background-color: rgb(121, 105, 139)"
>
  <ul class="nav nav-pills ">
    <li class="nav-item" style="margin-right:20px">
      <a
        class="nav-link"
        style="background-color: rgb(197, 153, 238);border: 1px solid white;color:white"
        routerLink="/dashboard"
        >Dashboard</a
      >
    </li>
    <li class="nav-item ">
      <a
        class="nav-link"
        style="background-color: rgb(197, 153, 238);border: 1px solid white;color:white"
        routerLink="/todo"
        >My To-Do List</a
      >
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
<app-message></app-message>
